<div class="wrapper">

  <div class="topblock">
    <div class="imagepanel">
      <div class="servicecardslot">
        <app-service-card></app-service-card>
        <div class="button">
          
          <button mat-icon-button
          matTooltip="book this service"> <mat-icon>book</mat-icon> </button>
          <button mat-icon-button
          matTooltip="chat owner"> <mat-icon>chat</mat-icon> </button>
          <button mat-icon-button
          matTooltip="bookmark this service"> <mat-icon>bookmark</mat-icon> </button>
        </div>
      </div>
      
    </div>
    <div class="infopanel">
      <h1>INFO PANEL</h1>
      <div class="info">
        
        <h3>SERVICE NAME</h3>
        <p>TITLE</p>
        <h3>DESCRIPTION OF SERVICE</h3>
        <p>THIS SERVICE IS YADA YADA YADA AND IT WILL YADA YADA YADA. The quick brown fox jump over the lazy dog</p>
        <h3>SERVICE OWNER</h3>
        <p> Owner Name</p>
        <h3>Service CONTACT INFO</h3>
        <p> Contant Info </p>
      </div>
    </div>
  </div>
  <div class="midblock">
    <div class="moreinfopanel">
      <h1>MORE INFO PANEL</h1>
      <h2>Ratings</h2>
      <div class="ratingpanel">
        <app-rating></app-rating>
        <h2>5/5</h2>
      </div>
      <h2>Comments</h2>
      <div class="commentpanel">
        <div class="comment">
          <app-accountview></app-accountview>
          <app-comment text="HELLO"></app-comment>
        </div>
        <div class="comment">
          <app-accountview></app-accountview>
          <app-comment text="GREAT SERVICE WOW, i like it where to buy it hahaha"></app-comment>
        </div>
        <div class="comment">
          <app-accountview></app-accountview>
          <app-comment text="S ERVICE GOOD LIKE ITERVICE GOOD LIKE IT ERVICE GOOERVICE GOOD LIKE IT ERVICE GOOD LIKE IT ERVICE GOOD LIKE ITD LIKE IT ERVICE GOOD LIKE IT"></app-comment>
        </div>
        <div class="comment">
          <app-accountview></app-accountview>
          <app-comment text="HI HELLO WEH"></app-comment>
        </div>
      </div>
    </div>
  </div>
</div>
