<app-servicelist></app-servicelist>
<app-fileUpload (OnSubmit)="imageUpload($event)"></app-fileUpload>
<!-- <div>
    <button mat-raised-button > CLICK ME!</button>
    <button mat-flat-button matBadge="5" matBadgeSize="large"> CLICK ME!</button>

    <mat-button-toggle #button1>TOGGLE ME!<mat-icon class="icon1">get_app</mat-icon></mat-button-toggle>
    
    <button mat-fab (click)="submit(button1.checked)">SUBMIT</button>
    <br>
        <mat-form-field appearance="fill" color="warn">
            <mat-label>name</mat-label>
            <mat-hint>Input Your Name</mat-hint>
            <input  matInput required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Surname</mat-label>
            <input  matInput required>
            <mat-hint>Input Your Surname</mat-hint>
        </mat-form-field>
    
</div> -->