<div class="wrapper">

  <div class="information_board">
    
    <div class="picture_panel">
      <img src="assets/imageassets.PNG" class="thumbnail_image">
      <div class="otherpictures_panel">
        <img src="assets/imageassets.PNG" class="thumbnail_image">
        <img src="assets/imageassets.PNG" class="thumbnail_image">
        <img src="assets/imageassets.PNG" class="thumbnail_image">
        <img src="assets/imageassets.PNG" class="thumbnail_image">
        <img src="assets/imageassets.PNG" class="thumbnail_image">
        <img src="assets/imageassets.PNG" class="thumbnail_image">
      </div>
    </div>
    <div class="info_panel">
      <div class="ownerinfo_panel">
        <img src="assets/imageassets.PNG">
        <h1> OWNER NAME </h1>
      </div>
      <div class="serviceinfo_panel">
        <h1> SERVICE TITLE </h1>
        <h2> DESCRIPTION </h2>
      </div>
    </div>
    <div class="technical_panel">
      <h1>Technical Panel</h1>
    </div>
  </div>

  <div class="feedback_board">
    <h1>Feedback Board</h1>
  </div>
  <div class="recommended_board">
    <h1>recommended_board</h1>
  </div>
</div>