<div class="wrapper">
  <div class="searchbar">
    <app-searchbar></app-searchbar>
  </div>
  <div class="topblock">
      <div class="menulist">
 
        <div class="list">
          <div class="buttoncontainer">
            <button mat-raised-button>Cleaning</button>
            <mat-icon>cleaning_services</mat-icon>
          </div>
          <div class="buttoncontainer">
          <button mat-raised-button>Laundry</button>
          <mat-icon>dry_cleaning</mat-icon>
        </div>
          <div class="buttoncontainer">
          <button mat-raised-button>Cooking</button>
          <mat-icon>outdoor_grill</mat-icon>
        </div>
          <div class="buttoncontainer">
          <button mat-raised-button>Carpentry</button>
          <mat-icon>carpenter</mat-icon>
        </div>
          <div class="buttoncontainer">
          <button mat-raised-button>Petsy</button>
          <mat-icon>pets</mat-icon>
        </div>
        <div class="buttoncontainer">
          <button mat-raised-button>Spa</button>
          <mat-icon>spa</mat-icon>
        </div>
        <div class="buttoncontainer">
          <button mat-raised-button>Repair</button>
          <mat-icon>construction</mat-icon>
        </div>
        <div class="buttoncontainer">
          <button mat-raised-button>Technician</button>
          <mat-icon>construction</mat-icon>
        </div>
        <div class="buttoncontainer">
          <button mat-raised-button>Tutor</button>
          <mat-icon>construction</mat-icon>
        </div>
        <div class="buttoncontainer">
          <button mat-raised-button>Freelancer</button>
          <mat-icon>construction</mat-icon>
        </div>
        <div class="buttoncontainer">
          <button mat-raised-button>Designer</button>
          <mat-icon>construction</mat-icon>
        </div>
        <div class="buttoncontainer">
          <button mat-raised-button>misc</button>
          <mat-icon>construction</mat-icon>
        </div>
        </div>
        
      </div>
      <div class="billboard">
        <div class="billboard_panel">
          <app-billboard></app-billboard>
        </div>
        <div class="billboard_wide">
          <app-billboard-wide></app-billboard-wide>
        </div>
      </div>
  </div>
  <div class="middleblock">
    <h1>CLEANING</h1>
    <div class="servicelist_panel">.
      <app-service-list></app-service-list>
    </div>
    <h1>CARPENTRY</h1>
    <div class="servicelist_panel">.
      <app-service-list></app-service-list>
    </div>
    <h1>MORE</h1>
    <div class="servicelist_panel">.
      <app-service-list></app-service-list>
    </div>
  </div>
</div>
