<div class='wrapper'>
  <!-- USE NGFOR HERE -->
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
  <div class='container'>
    <app-service-card></app-service-card>
  </div>
</div>