<div class="wrapper">
  <div class="searchbar">
    <app-searchbar></app-searchbar>
  </div>
  <div class="topblock">
    <div class="billboard_panel">
      <app-billboard></app-billboard>
    </div>
    <div class="billboard_wide">
      <app-billboard-wide></app-billboard-wide>
    </div>
  </div>
  <div class="middleblock">
    <h1>CLEANING</h1>
    <div class="servicelist_panel">.
      <app-service-list></app-service-list>
    </div>
    <h1>CARPENTRY</h1>
    <div class="servicelist_panel">.
      <app-service-list></app-service-list>
    </div>
    <h1>MORE</h1>
    <div class="servicelist_panel">.
      <app-service-list></app-service-list>
    </div>
  </div>
</div>
